@import "tailwindcss";
@plugin "daisyui";


* {

    font-family: 'Inter', sans-serif;


}

.text-position {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    position: relative;
    bottom: 120px;
    padding: 5px;
}